<div class="row">
    <div class="col-md-12">
        <h2>Student List</h2>
    </div>

    <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">SL</th> -->
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <!-- <th scope="row">{{student._id}}</th> -->
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.email}}</td>
            <td>EDIT | <button (click)="delStudent(student._id)">DELETE</button> </td>
          </tr>
          
        </tbody>
      </table>
</div>
