<div class="row">
    <div class="col-md-12">
        <h2>Edit Student Student</h2>
    </div>

    <div class="row">
        <form [formGroup]="addStudent" novalidate class="form">
            <div class="mb-3">
              <label for="exampleInputFirstName1" class="form-label">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="exampleInputFirstName1" aria-describedby="firstNameHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputLastName1" class="form-label">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" id="exampleInputLastName1" aria-describedby="lastNameHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp">
              <div id="passwordlHelp" class="form-text">We'll never share your password with anyone else.</div>
            </div>
            
            
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Update Student</button>
          </form>
    </div>
</div>

